$section-bg-color: #fdde7e;
$giftcard-bg-color: #fff;
$prise-color: #02995b;
$text-color: #333333;
$main-fsz: 50px;
$fsz-prise: $main-fsz;
$fsz-type: $main-fsz+6;
$fsz-type-litle: $main-fsz - 10;
$fsz-explanation: $main-fsz/2;