@import url(stylesheet.css),
url(normalize.css),
'variables';
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Miso';
    background: $section-bg-color;
}

.cards {
    margin: 0 auto;
    max-width: 1200px;
    padding: 80px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
}

.giftcard {
    height: 65vh;
    width: 31%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $giftcard-bg-color;
    border-radius: 4px;
    -webkit-box-shadow: -1px 0px 3px 1px rgba(214, 176, 62, 1);
    -moz-box-shadow: -1px 0px 3px 1px rgba(214, 176, 62, 1);
    box-shadow: -1px 0px 3px 1px rgba(214, 176, 62, 1);
    padding: 5vh 10%;
    text-align: center;
    transition: all 0.3s ease-in;
    top: 0;
    &:last-child {
        margin-right: 0;
    }
    &__prise {
        font-size: $fsz-prise;
        color: $prise-color;
        font-weight: 700;
        margin-bottom: 15px;
        transition: all 0.3s ease-in;
    }
    &__type {
        font-size: $fsz-type;
        margin: 25px 0;
    }
    &__explanation {
        font-size: $fsz-explanation;
    }
}

@media screen and (min-width: 900px) {
    .giftcard {
        &:hover {
            height: 70vh;
            cursor: pointer;
            & .giftcard__prise {
                margin-bottom: 50px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .cards {
        flex-direction: column;
    }
    .giftcard {
        margin-bottom: 20px;
        margin-right: 0;
        width: 50%;
        &:hover {
            width: 60%;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 600px) {
    .cards {
        flex-direction: column;
    }
    .giftcard {
        margin-bottom: 20px;
        margin-right: 0;
        width: 80%;
        &:hover {
            width: 90%;
            cursor: pointer;
        }
    }
}

@media screen and (max-height: 700px) {
    .giftcard {
        &__img {
            width: 30%;
        }
        &__type {
            margin: 10px 0;
            font-size: $fsz-type-litle;
        }
    }
}

@media screen and (max-height: 400px) {
    .giftcard {
        flex-direction: row;
        &__prise {
            margin: 0 10px 0 0;
        }
        &__img {
            width: 10%;
            margin-right: 10px;
        }
    }
}