html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Hans Kendrick';
    text-transform: uppercase;
}

a {
    margin: 0;
    padding: 0;
}